Codes/XML/purchases-app/CustomerTypes.xsd

<xs:schema xmlns:cmn="http://purchases.com/CommonTypes" targetNamespace="http://purchases.com/CustomerTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:import schemaLocation="./CommonTypes.xsd" namespace="http://purchases.com/CommonTypes" />
    <xs:complexType name="CustomerType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="DeliveryAddress" type="cmn:AddressType" />
            <xs:element name="BillingAddress" type="cmn:AddressType" />
        </xs:sequence>
        <xs:attribute name="customer_id" type="xs:ID" use="required" />
    </xs:complexType>
</xs:schema>