Codes/XML/customers-schema-app/address-schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://addresstype/addressSchenma">
    <xs:complexType name="address">
        <xs:sequence>
            <xs:element name="door_no" type="xs:int" />
            <xs:element name="street" type="xs:string" />
            <xs:element name="area" type="xs:string" />
            <xs:element name="city" type="xs:string" />
            <xs:element name="state" type="xs:string" />
            <xs:element name="country" type="xs:string" default="IND" />
            <xs:element name="pin_code" type="xs:long" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>